{{!-- hardcoded examples for future development --}}
<p id="members-title">MEMBERS</p>
<div class="row">
    <div class="member col-md-2">
        <img src="/images/alien_avatar.png" alt="">
        <p>Monica Portaletico</p>
        <p class="gray">Gift: swiss knife <i class="far fa-square"></i></p>
    </div>
    <div class="member col-md-2">
        <img src="/images/sheep_avatar.png" alt="">
        <p>Georgio Armanitto</p>
        <p class="gray">Gift: xbox <i class="far fa-square"></i></p>
    </div>
    <div class="member col-md-2">
        <img src="/images/pencil_avatar.png" alt="">
        <p>Mike Hike</p>
        <p class="gray">Gift: corkscrew <i class="far fa-square"></i></p>
    </div>
    <div class="member col-md-2">
        <img src="/images/cloud_avatar.png" alt="">
        <p>Evelyn Tiobio</p>
        <p>Gift: world piece <i class="far fa-square"></i></p>
    </div>
</div>