{{>navbar-block}}

<div class="container">
    <div class="row">
        <div class="nopadding col-md-4">

            <div class="left-top">
                {{>welcome}} <span class="display-message">buy the gifts!</span>
            </div>

            <div class="left-bottom">
                <br>
                <p>
                    Double check if you purchased all the gifts for your event!
                </p>
                <p>It will be a spledid suprise!</p>
            </div>
        </div>
        <div class="nopadding col-md-8">
            <div class="right">


                <ul>
                    <div class="display-gift">
                        <div>
                            <h4>PENDING GIFTS</h4>
                            <p class="my-gift">
                                {{!-- hardcoded data for future development --}}
                                Gift: swiss knife || For: Monica Portaletico
                            </p>
                            <button type="submit" class="btn btn-outline-dark-block deleteButt">DROP GIFT</button>
                        </div>
                        <div>
                            <p class="my-gift">
                                {{!-- hardcoded data for future development --}}
                                Gift: xbox || For: Georgio Armanitto
                            </p>
                            <button type="submit" class="btn btn-outline-dark-block deleteButt">DROP GIFT</button>
                        </div>
                    </div>
                    {{!-- {{#each first_name}}
                    {{#if giving}}
                    {{#unless giftstatus}}
                    {{> gift-block giftstatus=false}}
                    {{/unless}}
                    {{/if}}
                    {{/each}} --}}
                </ul>


                <ul>
                    <div class="display-gift">
                        <h4>GIFTS BOUGHT</h4>
                        <p class="gray my-gift">
                            {{!-- hardcoded data for future development --}}
                            Gift: corkscrew || For: Mike Hike
                        </p>
                    </div>
                    {{!-- {{#each name}}
                    {{#if giving}}
                    {{#if giftstatus}}
                    {{> gift-block giftstatus=true}}
                    {{/if}}
                    {{/if}}
                    {{/each}} --}}
                </ul>


            </div>
        </div>
    </div>
</div>
<footer>
    <p id="copyright">Copyright &copy Stickers 2019</p>
    <!-- Logout option -->
    <a class="logout" href="/logout">LOG OUT</a>
</footer>

{{>bottom-navbar-block}}