{{>navbar-block}}

<div class="container">
    <div class="row">
        <div class="nopadding col-md-4">

            {{>welcome}}

            <div class="left-bottom">

            </div>
        </div>
        <div class="nopadding col-md-8">
            <div class="right">

                <h2>Gifts to Buy</h2>

                <ul>
                    {{#each first_name}}
                    {{#if giving}}
                    {{#unless giftstatus}}
                    {{> gift-block giftstatus=false}}
                    {{/unless}}
                    {{/if}}
                    {{/each}}
                </ul>

                <h2>Completed Gifts</h2>

                <ul>
                    {{#each name}}
                    {{#if giving}}
                    {{#if giftstatus}}
                    {{> gift-block giftstatus=true}}
                    {{/if}}
                    {{/if}}
                    {{/each}}
                </ul>


            </div>
        </div>
    </div>
</div>
<footer>
    <p id="copyright">Copyright &copy Stickers 2019</p>
    <!-- Logout option -->
    <a class="logout" href="/logout">LOG OUT</a>
</footer>