<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="navbar-nav">
        <a class="nav-title" href="/members">GIFT MASTER</a>
        <a class="nav-1 nav-item nav-link" href="/members">
            <i class="fas fa-user-circle"></i> PROFILE
        </a>
        <a class="nav-2 nav-item nav-link" href="/join">
            <i class="fas fa-users"></i> JOIN
        </a>
        <a class="nav-3 nav-item nav-link" href="/new" id="create-event-butt" data-toggle="modal" data-target="#ModalGroupForm">
            <i class="fas fa-plus-circle"></i> NEW EVENT</a>
        <a class="nav-4 nav-item nav-link" href="gifts"><i class="fas fa-gift"></i> YOUR GIFTS</a>
    </div>
</nav>


<div class="container">
    <div class="row">
        <div class="nopadding col-md-4">
            <div class="left-top">
                <!-- Anything you get back from passport user -->
                <h2 class="member-display"><img class="avatar" src="" alt="Avatar"> Welcome <span class="member-name"></span>!</h2>
            </div>
            <div class="left-bottom">
                <br>
                {{!-- Search your events --}}
                <h2>SEARCH</h2>
                <div class="search-container">
                    <form action="/action_page.php">
                        <input class="input" type="text" placeholder=" Enter Event Code" name="groupSearch">
                        <button class="submit" type="submit">
                            <i class="fa fa-search"></i>
                        </button>
                    </form>
                </div>
            </div>
        </div>
        <div class="nopadding col-md-8">
            <div class="right">
                {{!-- Append the search results --}}
                <div class="search-results">

                </div>
            </div>
        </div>
    </div>
</div>

<footer>
    <p id="copyright">Copyright &copy Stickers 2019</p>
    <!-- Logout option -->
    <a class="logout" href="/logout">LOG OUT</a>
</footer>