{{>navbar-block}}

<div class="container">
    <div class="row">
        <div class="nopadding col-md-4">

            {{>welcome}}

            <div class="left-bottom">
                <br>
                {{!-- Search your events --}}
                <h2>SEARCH</h2>
                <div class="search-container">
                    <form action="/action_page.php">
                        <input class="input" type="text" placeholder=" Enter Event Code" name="groupSearch">
                        <button class="submit" type="submit">
                            <i class="fa fa-search"></i>
                        </button>
                    </form>
                </div>
            </div>
        </div>
        <div class="nopadding col-md-8">
            <div class="right">
                <div> If a friend invited you to an existing event, search for it by entering the unique event code!</div>
                <br>
                {{!-- Append the search results --}}
                <div class="search-results">
                    {{!-- append event members --}}
                    {{>member-block}}
                </div>
            </div>
        </div>
    </div>
</div>

<footer>
    <p id="copyright">Copyright &copy Stickers 2019</p>
    <!-- Logout option -->
    <a class="logout" href="/logout">LOG OUT</a>
</footer>

{{>bottom-navbar-block}}