{{>navbar-block}}

{{!-- Create new event --}}
<div class="container">

    <div class="row">
        <div class="nopadding col-md-4">

            {{>welcome}}

            <div class="left-bottom">
                <br>
            </div>
        </div>
        <div class="nopadding col-md-8">
            <div class="right">
                <div class="row form-body">
                    <form role="form">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="event-name"><i class="fas fa-gifts"></i> EVENT NAME</label>
                                <input type="text" class="form-control" id="event-name" placeholder="Enter a recognizable name for your event">
                            </div>
                            <div class="form-group">
                                <label for="event-date"><i class="fas fa-calendar-day"></i> DATE</label>
                                <input type="date" class="form-control" id="event-date" placeholder="Enter your event date">
                            </div>
                            <div class="form-group">
                                <label for="event-time"><i class="fas fa-clock"></i> TIME</label>
                                <input type="time" class="form-control" id="event-time" placeholder="Enter your event time">
                            </div>
                            <div class="form-group">
                                <label for="event-location"><i class="fas fa-map-marked-alt"></i> LOCATION</label>
                                <input type="text" class="form-control" id="event-location" placeholder="Enter your event location">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="event-directions"><i class="fas fa-file-alt"></i> Type directions for
                                    participants:</label>
                                <textarea class="form-control" id="event-directions" rows="15" maxlength="250"> </textarea>
                                <p id="directions-max">max. 250 characters</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <button class="btn btn-success btn-block" type="button" data-toggle="modal" data-target="#myModal"
                                    id="submitEventButt"><i class="fas fa-users"></i>
                                    CREATE EVENT</button>
                            </div>
                            <div class="col-md-6"></div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<footer>
    <p id="copyright">Copyright &copy Stickers 2019</p>
    <!-- Logout option -->
    <a class="logout" href="/logout">LOG OUT</a>
</footer>

{{>bottom-navbar-block}}