<nav class="navbar navbar-expand-lg navbar-light bg-light">

    <div class="navbar-nav">
        <a class="nav-title" href="/members">GIFT MASTER</a>
        <a class="nav-1 nav-item nav-link" href="/members">
            <i class="fas fa-user-circle"></i> PROFILE
        </a>
        <a class="nav-2 nav-item nav-link" href="/join">
            <i class="fas fa-users"></i> JOIN
        </a>
        <a class="nav-3 nav-item nav-link" href="/new">
            <i class="fas fa-plus-circle"></i> NEW EVENT</a>
        <a class="nav-4 nav-item nav-link" href="gifts">
            <i class="fas fa-gift"></i> YOUR GIFTS</a>
    </div>
</nav>

{{!-- Create new event --}}
<div class="container">

    <div class="row">
        <div class="nopadding col-md-4">
            <div class="left-top">
                <!-- Anything you get back from passport user -->
                <h2 class="member-display"><img class="avatar" src="" alt="Avatar"> Welcome <span class="member-name"></span>!</h2>
            </div>
            <div class="left-bottom">
                <br>
            </div>
        </div>
        <div class="nopadding col-md-8">
            <div class="right">
                <div class="row form-body">
                    <form role="form">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="event-name"><i class="fas fa-gifts"></i> EVENT NAME</label>
                                <input type="text" class="form-control" id="event-name" placeholder="Enter a recognizable name for your event">
                            </div>
                            <div class="form-group">
                                <label for="date"><i class="fas fa-calendar-day"></i> DATE</label>
                                <input type="date" class="form-control" id="date" placeholder="Enter your event date">
                            </div>
                            <div class="form-group">
                                <label for="time"><i class="fas fa-clock"></i> TIME</label>
                                <input type="time" class="form-control" id="time" placeholder="Enter your event time">
                            </div>
                            <div class="form-group">
                                <label for="location"><i class="fas fa-map-marked-alt"></i> LOCATION</label>
                                <input type="text" class="form-control" id="location" placeholder="Enter your event location">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="directions"><i class="fas fa-file-alt"></i> Type directions for
                                    participants:</label>
                                <textarea class="form-control" id="directions" rows="15" maxlength="250"> </textarea>
                                <p id="directions-max">max. 250 characters</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <button class="btn btn-success btn-block" type="button" data-toggle="modal" data-target="#myModal"
                                    id="submitEventButt"><i class="fas fa-users"></i>
                                    CREATE EVENT</button>
                            </div>
                            <div class="col-md-6"></div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<footer>
    <p id="copyright">Copyright &copy Stickers 2019</p>
    <!-- Logout option -->
    <a class="logout" href="/logout">LOG OUT</a>
</footer>