/* Background image */
body {
    background-image: url("../images/background_white.png");
    background-size:cover;
  }
  
  /* Background div */
  .container {
    width: 94%;
    padding-top: 20px;
    margin-left: 53px;
    box-sizing: content-box;  
    border: 1px solid transparent;
  }

  .avatar, .member-display, .add-display {
    display: inline;
  }

  .avatar {
    margin-top: 10px;
  }

  .add-display {
    float: right;
    padding-top: 25px;
    color: white;
    text-shadow: 2px 2px 3px #4d5e72;
  }

  h2 {
    color: #3f6a8a;
  }
  
  hr {
    border: 1px solid white;
    box-shadow: 0 2px 4px rgb(77, 94, 114, 0.7);
    }
  
    /* Search container - rounded */
    .search-container {
      background-color: white;
      padding: 5px;
      border-radius: 25px;
      box-shadow:0 0 8px #666;
    }
    
    /* Fix input box and button color */
    .input, .submit {
      border: none;
      background-color: white;
    }
    
    .input {
      width: 90%;
      color: #3f6a8a;
      font-size: 15px;
      padding: 5px;
      margin-left: 5px;
    }
    
    .input:focus {
      outline:none;
    }
    
    ::placeholder {
      color: lightgray;
    }
    
    .submit {
      font-size: 1em;
      color: lightgray;
      padding: 2px;
    }
    
    #create-group-butt {
      color: white;
      background-color: #3f6a8a;
      border-radius: 40px;
      box-shadow:0 0 8px #666;
    }

  /* nav bar */
  .navbar-nav {
    background-image: linear-gradient(to left top, #dda5b6, #ebb2b1, #f2c2b0, #f4d4b5, #f1e6c1);
    width: 100%;
    height: 40px;
  }

  .nav-title {
    color: #3f6a8a;
    margin-left: 53px;
    font-family: 'Fredoka One', cursive;
    font-size: 28px;
    text-shadow: 0 4px 8px rgb(77, 94, 114, 0.7), 2px 8px 10px rgb(221, 165, 182, 0.7), 6px 10px 14px rgb(241, 230, 193, 0.7);
  }

  .nav-title:hover {
    text-decoration: none;
    color: #3f6a8a;
  }

  .nav-item {
    color: white;
    text-shadow: 0 4px 8px rgb(77, 94, 114, 0.7), 2px 8px 10px rgb(221, 165, 182, 0.7), 6px 10px 14px rgb(241, 230, 193, 0.7);
    float: right;
    font-family: 'Fredoka One', cursive;
    font-size: 18px;
    box-sizing: content-box;  
    border: 1px solid transparent;
    text-align: center;
    height: 30px;
    padding-top: 5px;
  }

  .nav-1 {
    width: 170px;
  }

  .nav-2 {
    width: 140px;
  }

  .nav-3 {
    width: 190px;
    }

  .nav-4 {
    width: 200px;
  }

  .nav-item:hover {
    text-decoration: none;
    color: #3f6a8a;
    font-size: 22px;
  }

  /* sticky footer */
  .site {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  .container {
    flex: 1;
  }

  footer {
    background-position: center;
    color: #dda5b6;
    height: 40px;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }

  #copyright{
    margin-top: 10px;
    margin-right: 10px;
  }

  .logout {
    margin-top: 10px;
    font-size: 15px;
    color: #3f6a8a;
    font-weight: bold;
  }

  .logout:hover {
    color: #dda5b6;
    text-decoration: none;
  }

  .right {
    height: 650px;
    background-image: linear-gradient(to left top, rgb(221, 165, 182, 0.4), rgb(235, 178, 177, 0.4), rgb(242, 194, 176, 0.4), rgb(244, 212, 181, 0.4), rgb(241, 230, 193, 0.4));    
  }

  .left-top {
    padding-top: 10px;
    padding-left: 20px;
    height: 250px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 4px 8px rgb(77, 94, 114, 0.7), 2px 8px 10px rgb(221, 165, 182, 0.7), 6px 10px 14px rgb(241, 230, 193, 0.7);
    border-top-left-radius: 80px;
  }

  .left-bottom {
    height: 400px;
    background-color: #3f6a8a;
    box-shadow: 0 4px 8px rgb(77, 94, 114, 0.7), 2px 8px 10px rgb(221, 165, 182, 0.7), 6px 10px 14px rgb(241, 230, 193, 0.7);
    border-bottom-left-radius: 80px;
  }

  .nopadding {
    padding: 0 !important;
    margin: 0 !important;
 } 