.container {
    color: #3f6a8a;
}

.container-title {
    font-family: 'Fredoka One', cursive;
}

/* .form-group{
    background-color: white;
    padding: 5px;
    border-radius: 25px;
    box-shadow: 0 4px 8px rgba(77, 94, 114, 0.7), 2px 8px 10px rgb(221, 165, 182, 0.7), 6px 10px 14px rgb(241, 230, 193, 0.7);
    border: 1px solid rgb(211, 211, 211, 0.5);
    margin-right: 20px;
  } */
  
#event-name, #date, #time, #location {
    border: none;
    width: 95%;
    color: #3f6a8a;
    font-size: 15px;
    margin-left: 5px;
    padding: 20px;
    /* box-shadow: 0 4px 8px rgba(77, 94, 114, 0.7), 2px 8px 10px rgb(221, 165, 182, 0.7), 6px 10px 14px rgb(241, 230, 193, 0.7); */
    border-radius: 25px;
  }
  
  .form-control:focus{
    border-color: #cccccc;
    box-shadow: none;
  }
  
  .form-control::placeholder {
    color: lightgray;
  }
  
  .btn-default {
    background-image: linear-gradient(to left top, #dda5b6, #ebb2b1, #f2c2b0, #f4d4b5, #f1e6c1);
    box-shadow: 0 4px 8px rgb(77, 94, 114, 0.7), 2px 8px 10px rgb(221, 165, 182, 0.7), 6px 10px 14px rgb(241, 230, 193, 0.7);
    border-radius: 25px;
    color: white;
    font-size: 15px;
    border: none;
    margin-bottom: 15px;
  }